<div class="container">
  <div class="student-page-header amber lighten-2"></div>

  <div class="student-icon z-depth-3">
    <% if @student.user.image? %>
      <%= image_tag @student.user.image.url, class: "student-icon-image responsive-img" %>
    <% else %>
      <img src="/assets/icons8-user-96.png" alt="student-icon">
    <% end %>
  </div>

  <% if @student.user == current_user %>
    <%= link_to 'Edit', edit_user_path(@student.user), class: "waves-effect waves-dark btn student-edit" %>
  <% end %>

  <div class="student-info">
    <h2><%= @student.user.user_name %></h2>
    <% if @student.user.private_info.real_name_is_open %>
      <h5>本名: <%= @student.user.full_name %></h5>
    <% end %>

    <% if @student.user.private_info.email_is_open %>
      <h5>メールアドレス: <%= @student.user.email %></h5>
    <% end %>

    <% if @student.user.private_info.age_is_open %>
      <h5>年齢: <%= @student.user.age if @student.user.birthday? %></h5>
    <% end %>

    <% if @student.user.private_info.birthday_is_open %>
      <h5>生年月日: <%= @student.user.birthday %></h5>
    <% end %>

    <% if @student.user.private_info.gender_is_open %>
      <h5>性別: <%= @student.user.gender_i18n %></h5>
    <% end %>
    
    <% if @student.user.private_info.profession_is_open %>
      <h5>職業: <%= @student.user.profession %></h5>
    <% end %>
    
    <h5>自己紹介: <%= @student.user.bio %></h5>
    <h5><%= link_to ('フォロー: ' + @student.user.followings.count.to_s), followings_user_path(@student.user) %></h5>
    <h5><%= link_to ('フォロワー: ' + @student.user.followers.count.to_s), followers_user_path(@student.user) %></h5>
  </div>

  <% if @student.user != current_user %>
    <%= render 'user_relationships/follow_unfollow_button', user: @student.user %>
  <% end %>

  <div class="skills">
    <% if @student.user == current_user %>
      <div class="right">
        <%= link_to 'Add Skills', new_skill_path, class: "waves-effect waves-dark btn add-skills" %>
      </div>
    <% end %>

    <table class="striped">
      <thead>
        <tr>
          <th>Skills</th>
          <th>Level</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @student.user.skills.each do |skill| %>
          <tr>
            <td><%= link_to skill.name, skill_path(skill) %></td>
            <td><%= skill.level %></td>
            <td><%= skill.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="experiences">
    <% if @student.user == current_user %>
      <div class="right">
        <%= link_to 'Add Experiences', new_experience_path, class: "waves-effect waves-dark btn add-experiences" %>
      </div>
    <% end %>

    <table class="striped">
      <thead>
        <tr>
          <th>Experiences</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @student.user.experiences.each do |experience| %>
          <tr>
            <td><%= link_to experience.title, experience_path(experience) %></td>
            <td><%= experience.description %></td>
            <td><%= experience.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="certifications">
    <% if @student.user == current_user %>
      <div class="right">
        <%= link_to 'Add Certifications', new_certification_path, class: "waves-effect waves-dark btn add-certifications" %>
      </div> 
    <% end %>

    <table class="striped">
      <thead>
        <tr>
          <th>Certifications</th>
          <th>Date of Acquisition</th>
        </tr>
      </thead>
      <tbody>
        <% @student.user.certifications.each do |certification| %>
          <tr>
            <td><%= link_to certification.name, certification_path(certification) %></td>
            <td><%= certification.date_of_acquisition %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="lessons">
    <% if @student.user == current_user %>
      <div class="right">
        <%= link_to 'Add Lessons', new_lesson_path, class: "waves-effect waves-dark btn add-lessons" %>
      </div> 
    <% end %>

    <table class="striped">
      <thead>
        <tr>
          <th>Lessons</th>
          <th>Description</th>
          <th>Date</th>
          <th>Time</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @student.user.lessons.each do |lesson| %>
          <tr>
            <td><%= link_to lesson.name, lesson_path(lesson) %></td>
            <td><%= lesson.description %></td>
            <td><%= lesson.lesson_date %></td>
            <td><%= lesson.lesson_time %></td>
            <td><%= lesson.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="user_links">
    <% if @student.user == current_user %>
      <div class="right">
        <%= link_to 'Add Socials & Links', new_user_link_path, class: "waves-effect waves-dark btn add-user_links" %>
      </div> 
    <% end %>

    <table class="striped">
      <thead>
        <tr>
          <th>Socials & Links</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        <% @student.user.user_links.each do |user_link| %>
          <tr>
            <td><%= link_to user_link.name, user_link_path(user_link) %></td>
            <td><%= user_link.url %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% if false %>
  <% if @student.user == current_user %>
    <%= link_to 'Activate Teacher Account', teachers_create_path, class: "waves-effect waves-dark btn activate-teacher-account red black-text" %>
  <% end %>
<% end %>
</div>
