<div class="container">
  <h1>UserLinks#new</h1>
  
  <%= form_for(@user_link) do |f| %>
    <div class="input-field col s12">
      <%= f.text_field :name, class: "validate" %>
      <%= f.label :name, 'Socials & Links' %>
    </div>

    <div class="input-field col s12">
      <%= f.text_field :url, class: "validate" %>
      <%= f.label :url, 'URL' %>
    </div>

    <div class="center">
      <%= f.submit 'Submit', class: "waves-effect waves-dark btn user_link-submit amber lighten-2 black-text" %>
    </div>
  <% end %>
</div>
