<div class="container">
  <div class="user-page-header amber lighten-2"></div>

  <div class="user-icon z-depth-3">
    <% if @user.image? %>
      <%= image_tag @user.image.url, class: "user-icon-image responsive-img materialboxed" %>
    <% else %>
      <img src="../assets/icons8-user-96.png" alt="user-icon" class="materialboxed">
    <% end %>
  </div>

  <% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class: "waves-effect waves-dark btn user-edit amber lighten-5 black-text" %>
  <% end %>

  <div class="user-info">
    <h2><%= @user.user_name %></h2>
    <h5>本名: <%= @user.full_name %></h5>
    <% if @user == current_user %>
      <h5>メールアドレス: <%= @user.email %></h5>
    <% end %>
    <h5>年齢: <%= @user.age if @user.birthday? %></h5>
    <h5>生年月日: <%= @user.birthday %></h5>
    <h5>性別: <%= @user.gender_i18n %></h5>
    <h5>職業: <%= @user.profession %></h5>
    <h5>自己紹介: <%= @user.bio %></h5>
    <h5><%= link_to ('フォロー: ' + @user.followings.count.to_s), followings_user_path(@user) %></h5>
    <h5><%= link_to ('フォロワー: ' + @user.followers.count.to_s), followers_user_path(@user) %></h5>
  </div>

  <% if @user != current_user %>
    <%= render 'user_relationships/follow_unfollow_button', user: @user %>
  <% end %>

  <table class="striped">
    <thead>
      <tr>
        <th>Skills</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>English</td>
        <td>Native speaker</td>
      </tr>
      <tr>
        <td>Programming</td>
        <td>Working as a programmer</td>
      </tr>
      <tr>
        <td>Cooking</td>
        <td>Intermediate</td>
      </tr>
    </tbody>
  </table>

  <% if @user == current_user %>
    <%= link_to 'Activate Teacher Account', teachers_create_path, class: "waves-effect waves-dark btn activate-teacher-account red black-text" %>
  <% end %>
</div>
