<div class="container">
  <div class="user-page-header amber lighten-2"></div>

  <div class="user-icon z-depth-3">
    <% if @user.image? %>
      <%= image_tag @user.image.url, class: "user-icon-image responsive-img materialboxed" %>
    <% else %>
      <img src="../assets/icons8-user-96.png" alt="user-icon" class="materialboxed">
    <% end %>
  </div>

  <% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class: "waves-effect waves-dark btn user-edit" %>
  <% end %>

  <div class="user-info">
    <h2><%= @user.user_name %></h2>
    <h5>本名: <%= @user.full_name %></h5>
    <% if @user == current_user %>
      <h5>メールアドレス: <%= @user.email %></h5>
    <% end %>
    <h5>年齢: <%= @user.age if @user.birthday? %></h5>
    <h5>生年月日: <%= @user.birthday %></h5>
    <h5>性別: <%= @user.gender_i18n %></h5>
    <h5>職業: <%= @user.profession %></h5>
    <h5>自己紹介: <%= @user.bio %></h5>
    <h5><%= link_to ('フォロー: ' + @user.followings.count.to_s), followings_user_path(@user) %></h5>
    <h5><%= link_to ('フォロワー: ' + @user.followers.count.to_s), followers_user_path(@user) %></h5>
  </div>

  <% if @user != current_user %>
    <%= render 'user_relationships/follow_unfollow_button', user: @user %>
  <% end %>

  <div class="skills">
    <% if @user == current_user %>
      <div class="right">
        <%= link_to 'Add Skills', new_skill_path, class: "waves-effect waves-dark btn add-skills" %>
      </div>
    <% end %>

    <table class="striped">
      <thead>
        <tr>
          <th>Skills</th>
          <th>Level</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @user.skills.each do |skill| %>
          <tr>
            <td><%= link_to skill.name, skill_path(skill) %></td>
            <td><%= skill.level %></td>
            <td><%= skill.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="experiences">
    <% if @user == current_user %>
      <div class="right">
        <%= link_to 'Add Experiences', new_experience_path, class: "waves-effect waves-dark btn add-experiences" %>
      </div>
    <% end %>

    <table class="striped">
      <thead>
        <tr>
          <th>Experiences</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @user.experiences.each do |experience| %>
          <tr>
            <td><%= link_to experience.title, experience_path(experience) %></td>
            <td><%= experience.description %></td>
            <td><%= experience.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="certifications">
    <% if @user == current_user %>
      <div class="right">
        <%= link_to 'Add Certifications', new_certification_path, class: "waves-effect waves-dark btn add-certifications" %>
      </div> 
    <% end %>

    <table class="striped">
      <thead>
        <tr>
          <th>Certifications</th>
          <th>Date of Acquisition</th>
        </tr>
      </thead>
      <tbody>
        <% @user.certifications.each do |certification| %>
          <tr>
            <td><%= link_to certification.name, certification_path(certification) %></td>
            <td><%= certification.date_of_acquisition %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% if false %>
  <% if @user == current_user %>
    <%= link_to 'Activate Teacher Account', teachers_create_path, class: "waves-effect waves-dark btn activate-teacher-account red black-text" %>
  <% end %>
<% end %>
</div>
