<div class="container">
  <div class="user-page-header amber lighten-2"></div>

  <div class="user-icon z-depth-3">
    <% if @user.image? %>
      <%= image_tag @user.image.url, class: "user-icon-image responsive-img materialboxed" %>
    <% else %>
      <img src="../assets/icons8-user-96.png" alt="user-icon" class="materialboxed">
    <% end %>
  </div>

  <% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class: "waves-effect waves-dark btn user-edit amber lighten-5 black-text" %>
  <% end %>

  <div class="user-info">
    <h2><%= @user.user_name %></h2>
    <h5>本名: <%= @user.full_name %></h5>
    <% if @user == current_user %>
      <h5>メールアドレス: <%= @user.email %></h5>
    <% end %>
    <h5>年齢: <%= @user.age if @user.birthday? %></h5>
    <h5>生年月日: <%= @user.birthday %></h5>
    <h5>性別: <%= @user.gender_i18n %></h5>
    <h5>職業: <%= @user.profession %></h5>
    <h5>自己紹介: <%= @user.bio %></h5>
    <h5><%= link_to ('フォロー: ' + @user.followings.count.to_s), followings_user_path(@user) %></h5>
    <h5><%= link_to ('フォロワー: ' + @user.followers.count.to_s), followers_user_path(@user) %></h5>
  </div>

  <% if @user != current_user %>
    <%= render 'user_relationships/follow_unfollow_button', user: @user %>
  <% end %>

  <table class="striped">
    <thead>
      <tr>
        <th>Skills</th>
        <th>Level</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @user.skills.each do |skill| %>
        <tr>
          <td><%= link_to skill.name, skill_path(skill) %></td>
          <td><%= skill.level %></td>
          <td><%= skill.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="striped">
    <thead>
      <tr>
        <th>Experiences</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @user.experiences.each do |experience| %>
        <tr>
          <td><%= link_to experience.title, experience_path(experience) %></td>
          <td><%= experience.description %></td>
          <td><%= experience.date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% if false %>
  <% if @user == current_user %>
    <%= link_to 'Activate Teacher Account', teachers_create_path, class: "waves-effect waves-dark btn activate-teacher-account red black-text" %>
  <% end %>
<% end %>
</div>
