<div class="container">
  <h1>Skill New</h1>

  <%= form_for(@skill) do |f| %>
    <div class="input-field col s12">
      <%= f.text_field :name, class: "validate" %>
      <%= f.label :name, 'Skill' %>
    </div>

    <div class="input-field col s12">
      <%= f.text_field :level, class: "validate" %>
      <%= f.label :level, 'Level' %>
    </div>

    <div class="input-field col s12">
      <%= f.text_field :description, class: "validate" %>
      <%= f.label :description, 'Description' %>
    </div>

    <%= f.submit 'Submit', class: "waves-effect waves-dark btn submit amber lighten-2 black-text" %>
  <% end %>
</div>
