<div class="container">
  <h1>Experience Edit</h1>

  <%= form_for(@experience) do |f| %>
    <div class="input-field col s12">
      <%= f.text_field :title, class: "validate" %>
      <%= f.label :title, 'Title' %>
    </div>

    <div class="input-field col s12">
      <%= f.text_area :description, class: "materialize-textarea" %>
      <%= f.label :description, 'Description' %>
    </div>

    <div class="input-field col s12">
      <%= f.text_field :date, class: "datepicker" %>
      <%= f.label :date, 'Date' %>
    </div>

    <div class="experience-edit-buttons center">
      <%= link_to 'Cancel', experience_path(@experience), class: "waves-effect waves-dark btn experience-edit-cancel amber lighten-5 black-text" %>
      <%= f.submit 'Update', class: "waves-effect waves-dark btn experience-update amber lighten-2 black-text" %>
    </div>
  <% end %>
</div>