<div class="container">
  <h1>Experience Show</h1>

  <div class="experiences">
    <h4>Id: <%= @experience.id %></h4>
    <h4>Title: <%= @experience.title %></h4>
    <h4>Description: <%= @experience.description %></h4>
    <h4>Date: <%= @experience.date %></h4>
  </div>

  <div class="center">
    <%= link_to 'Back', user_path(@experience.user), class: "waves-effect waves-dark btn skill-edit amber lighten-5 black-text" %>
    <% if @experience.user == current_user %>
      <%= link_to 'Edit', edit_skill_path(@experience), class: "waves-effect waves-dark btn skill-edit amber lighten-2 black-text" %>
    <% end %>
  </div>
</div>