<div class="container">
  <h1>Certification Edit</h1>

  <%= form_for(@certification) do |f| %>
    <div class="input-field col s12">
      <%= f.text_field :name, class: "validate" %>
      <%= f.label :name, 'Title' %>
    </div>

    <div class="input-field col s12">
      <%= f.text_field :date_of_acquisition, class: "datepicker" %>
      <%= f.label :date_of_acquisition, 'Date of Acquisition' %>
    </div>

    <div class="certification-edit-buttons center">
      <%= link_to 'Cancel', certification_path(@certification), class: "waves-effect waves-dark btn certification-edit-cancel amber lighten-5 black-text" %>
      <%= f.submit 'Update', class: "waves-effect waves-dark btn certification-update amber lighten-2 black-text" %>
    </div>
  <% end %>
</div>