<div class="container">
  <h1>Certification Show</h1>

  <div class="certifications">
    <h4>Id: <%= @certification.id %></h4>
    <h4>Name: <%= @certification.name %></h4>
    <h4>Date of Acquisition: <%= @certification.date_of_acquisition %></h4>
  </div>

  <div class="certification-show-buttons center">
    <%= link_to 'Back', user_path(@certification.user), class: "waves-effect waves-dark btn certification-back amber lighten-5 black-text" %>
    <% if @certification.user == current_user %>
      <%= link_to 'Edit', edit_certification_path(@certification), class: "waves-effect waves-dark btn certification-edit amber lighten-2 black-text" %>
    <% end %>
  </div>
</div>