<div class="container">
  <h1>Lessons#show</h1>
  
  <h4>Id: <%= @lesson.id %></h4>
  <h4>Teacher's name: <%= @lesson.user.user_name %></h4>
  <h4>Name: <%= @lesson.name %></h4>
  <h4>Description: <%= @lesson.description %></h4>
  <h4>Date: <%= @lesson.lesson_date %></h4>
  <h4>Time: <%= @lesson.lesson_time %></h4>
  <h4>Price: <%= @lesson.price %></h4>

  <div class="lesson-show-buttons center">
    <%= link_to 'Back', user_path(@lesson.user), class: "waves-effect waves-dark btn lesson-back amber lighten-5 black-text" %>
    <% if @lesson.user == current_user %>
      <%= link_to 'Edit', edit_lesson_path(@lesson), class: "waves-effect waves-dark btn lesson-edit amber lighten-2 black-text" %>
    <% end %>
  </div>
</div>

