<!DOCTYPE html>
<html>
  <head>
    <title>SkillMatchingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/27ab3f70c5.js"></script>

    <!-- Materialize CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--------------------->

    <!-- Asayer Tracking Code for thunder-0709.herokuapp.com/ -->
    <script>
      (function(a,s,a,y,e,r){
        r=[y];window[a]={r:r};y=document.createElement('script');
        y.src=s;y.async=!!e;y.setAttribute('data-asayer-ns',a);
        document.getElementsByTagName('head')[0].appendChild(y);
        window[a].start=function(v){r.push([0])};
        window[a].vars=function(k,v){r.push([1,k,v])};
        window[a].event=function(t,p){r.push([2,t,p])};
        window[a].id=Function.prototype;
        window[a].started=function(){return false};
      })(0,'https://static.asayer.io/asayer.js','asayer',341,1);
    </script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container red lighten-5 z-depth-1">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
    <%= render 'layouts/log_out_modal' %>
    <%= render 'layouts/footer' %>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
